[AwsFederationConfig]
Default=role2
FederationUri=http://adfs.example.com/adfs/ls/IdpInitiatedSignOn.aspx?loginToRp=urn:amazon:webservices
OutputFormat=table
Region=us-east-1

[role1]
Principal=arn:aws:iam::1234:saml-provider/test
Role=arn:aws:iam::1234:role/test-role1

[role2]
Principal=arn:aws:iam::5678:saml-provider/test
Role=arn:aws:iam::5678:role/test-role2

