[default]
output=json
region=eu-west-1
aws_access_key_id=access
aws_secret_access_key=secret
aws_session_token=session
expiration=2001-01-01T00:00:00.0000000+00:00

[profile role1]
output=json
region=eu-west-1
aws_access_key_id=access
aws_secret_access_key=secret
aws_session_token=session
expiration=2001-01-01T00:00:00.0000000+00:00

